body {
    margin: 0 auto;
    line-height: 1.7em;
}

.test-box-left {
    padding: 0 0 0 4em;
}
    .test-box-right{
        padding: 0 4em 0 0;
    }

.l-box {
    padding: 1em;
}

h3{
    color:#555;
}
h4{
    font-size: 170%;
    margin: 0em 0;
    line-height: 1.2em;   
}
h6{
    font-size: 1.12em;
    color: #898989;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.center {
    text-align: center;
}

/* SPLASH Section */

.splash {
    height: 444px;
    background: #eee;
    margin: 2em auto 0;
    padding: 3em 0.5em;
    border-bottom: 5px solid #FB801F;
}
    .splash .splash-text {
        text-align: center;
    }
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }


.content .content-subhead {
    color: #555;
    padding-bottom: 0.3em;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
}
    .testimonials{
        margin: 3em 3em 0 3em;
    }
    .test-btn-row{
        margin: 0 0 77px 0;
    }
    .test-btns{
        margin: 0 0 3em 0;
    }
    .pure-button{
        text-transform: uppercase;
        color: #fff;
        background: #FD9500;
    }
    .services-button {
        margin: 243px 0 0 0;
        border: 5px solid;
        padding: 1.2em 2.3em;
    }
.orange {
    color: #FD9500;
}
.left {
    float: left;
}

.right {
    float: right;
}

.summary {
    background: #EBEBEB;
}
    .summary-headers{
        margin: 65px 0 33px 0;
    }
    .summary-box-small{
        background: #E68407;
        height: 333px;
        width: 275px;
        margin-top: 50px;
    }
    .summary-box-big{
        width: 100%;
        height: 444px;
        background: red;
        padding: 13px 0 0 0;
    }
    .summary-box-text{
        width: 222px;
        margin: auto;
    }
     .summary-middle-text{
        width: 333px;
        margin: auto;
    }

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #fd9500;
    color: #fff;
    text-align: center;
    padding: 7em 1em;
    font-size: 80%;
}
    .footer h1{
        font-size: 255%;
    }
        .footer h2{
            font-weight: 200;
        }
    .footer .pure-menu{
        background: #fd9500;
        font-weight: bold;
        text-transform: uppercase;
    }
        .footer .pure-menu span{
            padding:13px 33px;
        }