::-webkit-scrollbar{width:17px;background:#fafafa}
::-webkit-scrollbar-thumb{background:#333;}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(216,210,206,0.3)}
::selection{background:#ff7878;color:#fff;text-shadow:none}body{background:#0b0607;}

body {
    margin: 0 auto;
    line-height: 1.7em;
	font-family: 'Roboto', sans-serif;
}

a:hover{
	text-decoration: none;
}

.test-box-left {
    padding: 0 0 0 4em;
}
    .test-box-right{
        padding: 0 4em 0 0;
    }

.home-content{
	background: #fafafa;
}

.l-box {
    padding: 1em;
}
.logo{
    color: #fd9500 !important;
	font-size: 21px !important;
	margin: 0 50px 0 !important;
}
    .logo strong{
        color: #fff;
    }
	.logo-icon-tab{
		position: absolute;
		top:0;
	}
	.phone-cube-tab{
		margin: 14px 18px -8px 0;
		cursor: pointer;
	}

h3{
    color:#555;
}
h4{
    font-size: 170%;
    margin: 0em 0;
    line-height: 1.2em;   
}
h6{
    font-size: 1.12em;
    color: #898989;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 6px;
        border-bottom:0 !important;
        background: #252525;
    }
		.pure-menu a{
			color: #fafafa;
		}
        .header .pure-menu ul{
            float: right;
			margin: -20px 0 0 0;
			font-size: 15px;
        }
        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: orange;
			font-weight: bold;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.center {
    text-align: center;
}

/* SPLASH Section */

.splash {
    height: 444px;
    background: #eee url('https://googledrive.com/host/0B9LVk4xbDIJTeXpYVWh1ek52NlE/feature-bg.png') center no-repeat;
    margin: 2em auto 0;
    padding: 7em 0.5em 9em;
	color: #fff;
    border-bottom: 5px solid #FB801F;
}
    .splash .splash-text {
        text-align: center;
    }
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }


.content .content-subhead {
    color: #555;
    padding-bottom: 0.3em;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
}
	.page-rank{
		margin: 7em 0 -2em !important;
	}
    .testimonials{
        margin: 3em 3em 0 3em;
    }
    .test-btn-row{
        margin: 0 0 77px 0;
    }
    .test-btns{
        margin: 0 0 3em 0;
    }
    .pure-button{
        text-transform: uppercase;
        color: #fff;
        background: #FD9500;
    }
    .services-button {
        margin: 337px 0 0 0;
        border: 5px solid;
        padding: 1.2em 2.3em;
		border-radius: 9px;
    }
	.services-btn{
		padding:17px 31px;
		margin: 0 0 -21px;
	}
	.order-link{
		display: block;
		margin: -2px auto 0;
	}
	.order-link a{
		color: orange;
		text-decoration: none;
		font-size: 14px;
	}
.orange {
    color: #FD9500;
}
.left {
    float: left;
}

.right {
    float: right;
}

.modal{
	cursor: pointer;
}
.modal-body{
	padding: 0;
}
.home-contact-modal{
	position: fixed;
	z-index: -1;
	border: 0;
	width: 100%;
	height: 525px;
	box-shadow: none;
	margin: 32px 0 0 0;
}
	.modal-header .close{
		margin-top: -2px;
		background: #fff;
		padding: 3px 8px;
		border-radius: 50%;
		opacity: 0.9;
		border: 1px solid #111;
	}
	.modal-header{
		border: 0;
		z-index: 2;
		display: block;
		background: #fff;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		cursor: default;
	}
	.modal-content{
		background: #fff;
		border-radius: 0;
	}
	.modal-footer{
		border: 0;
	}


.cube-svg{
	width: 84px;
	height: 79px;
}
	.cube-copy{
		display: block;
	}
	.cube-third{
		width: 31%;
		padding: 12px 3px;
		text-align: center;
	}
	.cube-row{
		margin: 9px 0 15px;
		display: block;
	}
.summary {
    background: #EBEBEB;
}
    .summary-section{
        margin: auto auto 111px auto;
    }
    .summary-headers{
        margin: 65px 0 33px 0;
    }
    .summary-box-small{
        background: #fff;
		box-shadow: -2px -2px 2px 2px rgba(160, 159, 159, 0.01);
		height: 444px;
        width: 333px;
        margin-top: 50px;
    }
    .summary-box-big{
        width: 100%;
        background: #fff;
		box-shadow: -2px -2px 2px 2px rgba(160, 159, 159, 0.01);
        padding: 13px 0 0 0;
		position: relative;
    }
	.summary-box{
		color: #898989;
	}
    .summary-box-text{
        width: 222px;
        margin: auto;
    }
     .summary-middle-text{
        width: 333px;
        margin: auto;
    }
	.content-marketing-summary{
		background: #FFf url(https://googledrive.com/host/0B9LVk4xbDIJTeXpYVWh1ek52NlE/content-marketing-bg.png) no-repeat 66px 161px;
	}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #fd9500;
    color: #fff;
    text-align: center;
    padding: 4em 1em 7em 1em;
    font-size: 80%;
}
    .footer h1{
        font-size: 255%;
    }
        .footer h2{
            font-weight: 200;
        }
    .footer .pure-menu{
        margin: 38px 0;
        font-weight: bold;
        background: #fd9500;
        text-transform: uppercase;
    }
        .footer .pure-menu span{
            padding:13px 33px;
        }
    .footer .ready{
		color: #000;
        margin: .67em 0 .4em 0;
    }